logs
*.log

coverage
node_modules
server

.env
.serverless

**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
# !**/.yarn/cache
.pnp.*

scraper.rest
scraper.sh

chrome-aws-lambda
!chrome-aws-lambda.zip